[submodule "ViennaStrongType"]
	path = ViennaStrongType
	url = https://github.com/hlavacs/ViennaStrongType.git
[submodule "ViennaTypeListLibrary"]
	path = ViennaTypeListLibrary
	url = https://github.com/hlavacs/ViennaTypeListLibrary.git
